[submodule "ros/newton_ros"]
	path = ros/pkgs/newton_ros
	url = https://github.com/TheNewtonCapstone/newton-ros
[submodule "ros/newton_sim_ros"]
	path = ros/pkgs/newton_sim_ros
	url = https://github.com/TheNewtonCapstone/newton-sim-ros
